<div class="user-team-select">
<% if user_signed_in? %>
  <label class='dropdown-label'> Choose Team: </label>
  <%= collection_select(:selected_team, :selected_team_id, UserTeam.where(user_id: current_user.id), :id, :name, { :selected => @current_team.id }) %>
<% end %>
</div>

<div id="battle-statistics">
  <%= render 'layouts/usage_data/battle_statistics' %>
</div>
<div id="user-usage-data">
  <%= render 'layouts/usage_data/user_usage_data' %>
</div>
<div id="opponent-usage-data">
  <%= render 'layouts/usage_data/opponent_usage_data' %>
</div>

