// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pokemon-list {
  input {
    margin: 0px 4px;
  }
}

.pokemon {
  margin-top: 3px;
  margin-bottom: 3px;
}
